.edit-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.edit-input {
  padding: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.save-btn {
  background-color: #7c6a26;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.save-btn:hover {
  background-color: #e0a800;
}
